/*
 ADOBE CONFIDENTIAL
 __________________

  Copyright 2012 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.
 */
/* phone landscape */
@media (max-width: 767px) {

    header .topnav nav ul.searchmode { width: 100%; }
    header .topnav nav ul { width: 100%; }

    header .topnav nav {
        height: auto;
        display: none;
    }

    header .topnav nav ul {
        padding: 0;
        width: 100%;
    }

    header .topnav nav ul li {
        border: none;
        display: block;
        text-align: center;
    }

    header .topnav nav ul:last-child li:last-child {
        border: none;
    }

    header .topnav .btn.menu-dropdown {
        position: absolute;
        padding: 3px 5px 3px 6px;
        right: 10px;
        top: 95px;
        margin: 0;
    }

    header .topnav .btn.authenticate {
        display: none;
    }

}
